soap_service_api_v1/src/main/resources/wsdl/serviceDefinitionV1.wsdl

<definitions name="gardening" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:gardening="http://ehmkah.com/services/gardening"
             targetNamespace="http://ehmkah.com/services/gardening">

    <types>
        <xs:schema targetNamespace="http://ehmkah.com/services/gardening" elementFormDefault="qualified">
            <xs:element name="requestType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="speciesOne" type="xs:string"/>
                        <xs:element name="speciesTwo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="responseType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="areGoodNeighbours" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

    <message name="checkNeighboursRequest">
        <part name="request" element="gardening:requestType"/>
    </message>
    <message name="checkNeighboursResponse">
        <part name="response" element="gardening:responseType"/>
    </message>

    <portType name="Wsgardening">
        <operation name="checkNeighbours">
            <input message="gardening:checkNeighboursRequest"/>
            <output message="gardening:checkNeighboursResponse"/>
        </operation>
    </portType>

    <binding name="gardeningSoapHttpBinding" type="gardening:Wsgardening">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="checkNeighbours">
            <soap:operation soapAction="http://ehmkah.com/services/gardening/#checkNeighbours"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="gardeningService">
        <port name="gardeningEndpoint" binding="gardening:gardeningSoapHttpBinding">
            <soap:address location="gardening"/>
        </port>
    </service>

</definitions>